:root {
    --primary-background-color: rgb(255, 254, 255);
    --secondary-background-color: rgb(199, 224, 236);
    --primary-text-color: rgb(1, 31, 22);
    --primary-type: 'Muli', sans-serif;
    --secondary-type: 'Ovo', serif;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    background: var(--primary-background-color);
    color: var(--primary-text-color);
    font-family: var(--seconary-type);
}

a {
    text-decoration: none;
    color: var(--primary-text-color);
}

a:hover {
    text-decoration: underline;
}

/* Header */

header {
    width: 100%;
    max-width: 1200px;
    position: fixed;
    z-index: 5;
    display: flex;
    justify-content: space-between;
    background: var(--secondary-background-color);
    font-family: var(--primary-type);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.portfolio-name {
    padding: 1rem;
}

nav {
    display: none;
}

.mobile-menu {
    padding: 1rem;
    cursor: pointer;
}

.menu-toggled {
    display: flex;
    justify-content: space-around;
    background: var(--secondary-background-color);
    position: absolute;
    top: 3rem;
    width: 100%;
    padding-bottom: 1rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

/* Main */

main {
    padding: 0 1rem;
}

h1 {
    margin: 0;
    font-family: var(--primary-type);
}

section {
    padding-top: 2rem;
}

.welcome {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 0;
}

.project-header {
    text-align: center;
}

.project-tile {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin-top: 1rem;
    transition: .25s ease-in;
    background: var(--secondary-background-color);
}

.project-tile:hover {
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.project-tile a:hover {
    text-decoration: none;
}

.project-text {
    color: var(--primary-text-color);
}

h2 {
    font-family: var(--primary-type);
}

h3 {
    text-align: center;
    font-family: var(--primary-type);
}

img {
    width: 100%;
}

.contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.contact-link {
    max-width: 200px;
    margin: .5rem auto;
}

.link-icon {
    margin-right: .5rem;
}


/* Footer */

footer {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    background: var(--secondary-background-color);
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}

.footer-item {
    margin: 1rem;
}

@media only screen and (min-width: 400px) {

    .mobile-menu,
    .menu-toggled {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 1rem;
    }

    nav a {
        margin-left: 1rem;
    }

}

@media only screen and (min-width: 550px) {
    .project-tiles {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

}

@media only screen and (min-width: 1200px) {
    header {
        background: var(--primary-background-color);
        border-bottom: 1px solid var(--primary-text-color);
        box-shadow: none;
    }

    .project-tile {
        background: var(--primary-background-color);
    }
    
    footer {
        background: var(--primary-background-color);
        border-top: 1px solid var(--primary-text-color);
        box-shadow: none;
    }

}

@media only screen and (min-height: 630px) {
    footer {
        position: fixed;
        bottom: 0;
        z-index: 5;
    }
}
